header{
    background-color: green;
}
h1{
    color: white;
}
.search{
    margin-top: 5px;
    margin-right: 5px;
    float: right; 
}
.btnsearch{
    margin-top: 5px;
    float: right;
}

.list-group{
    

}
.list-group-item{
   block-size: 40px;
    border: solid 1px;
    font-size: large;
}
.float-right{
    float: right;
    background-color: red;
    padding: 8px 25px;
    border-radius: 7px;
    margin-right: 8px;
    cursor: pointer;

}
.card{
    border: solid 1px;
}
